### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_players = purchase_data['SN'].nunique()
print(f"Total number of players = {total_players}")

Total number of players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
num_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

In [6]:
summary_dict = {
    'Number of Unique Items':[unique_items],
    'Average Price':[average_price],
    'Number of Purchases':[num_purchases],
    'Total Revenue':[total_revenue]
}

In [29]:
Summary_df = pd.DataFrame(data = summary_dict)
Summary_df["Average Price"] = Summary_df["Average Price"].map("${:.2f}".format)
Summary_df["Total Revenue"] = Summary_df["Total Revenue"].map("${:.2f}".format)
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
demographic_df = purchase_data.loc[:,['SN','Age','Gender']]
demographic_df.drop_duplicates(subset='SN', keep='first', inplace=True)

In [8]:
male_count = demographic_df["Gender"][demographic_df["Gender"]=="Male"].count()
female_count = demographic_df["Gender"][demographic_df["Gender"]=="Female"].count()
other_count = demographic_df["Gender"][demographic_df["Gender"]=="Other / Non-Disclosed"].count()
total_count = demographic_df["Gender"].count()
male_percent = (male_count/total_count)*100
female_percent=(female_count/total_count)*100
other_percent=(other_count/total_count)*100

##Better way to do it
#df_gender = pd.DataFrame(purchase_data.drop_duplicates('SN')['Gender'].value_counts())
#df_gender['Percent of Players'] = round(df_gender['Gender']/df_gender['Gender'].sum()*100,2)
#df_gender

In [9]:
demographic_dict = {
    'Total Count':[male_count,female_count,other_count],
    'Percentage of Players':[male_percent,female_percent,other_percent]
}

In [10]:
demographic_df = pd.DataFrame(data = demographic_dict, index=['Male','Female','Other/Non-Disclosed'])
demographic_df["Percentage of Players"] = demographic_df["Percentage of Players"].map("{:.2f}".format)
demographic_df

                     Total Count Percentage of Players
Male                         484                 84.03
Female                        81                 14.06
Other/Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#Purchase Count
male_purchase_count = purchase_data["Gender"][purchase_data["Gender"]=="Male"].count()
female_purchase_count = purchase_data["Gender"][purchase_data["Gender"]=="Female"].count()
other_purchase_count = purchase_data["Gender"][purchase_data["Gender"]=="Other / Non-Disclosed"].count()

#Average Purchase Price
male_avg_purchase_price = purchase_data["Price"][purchase_data["Gender"]=="Male"].mean()
female_avg_purchase_price = purchase_data["Price"][purchase_data["Gender"]=="Female"].mean()
other_avg_purchase_price = purchase_data["Price"][purchase_data["Gender"]=="Other / Non-Disclosed"].mean()

#Total Purchase Value
male_avg_purchase_value = purchase_data["Price"][purchase_data["Gender"]=="Male"].sum()
female_avg_purchase_value = purchase_data["Price"][purchase_data["Gender"]=="Female"].sum()
other_avg_purchase_value = purchase_data["Price"][purchase_data["Gender"]=="Other / Non-Disclosed"].sum()

#Avg Total Purchase per person
male_avg_purchase_per_person = male_avg_purchase_value/male_count
female_avg_purchase_per_person = female_avg_purchase_value/female_count
other_avg_purchase_per_person = other_avg_purchase_value/other_count

In [14]:
gender_purchasing_dict = {
    'Purchase Count':[male_purchase_count,female_purchase_count,other_purchase_count],
    'Average Purchase Price':[male_avg_purchase_price,female_avg_purchase_price,other_avg_purchase_price],
    'Total Purchase Value':[male_avg_purchase_value,female_avg_purchase_value,other_avg_purchase_value],
    'Avg Total Purchase per person':[male_avg_purchase_per_person,female_avg_purchase_per_person,other_avg_purchase_per_person]
}

In [15]:
gender_purchasing_df = pd.DataFrame(data = gender_purchasing_dict, index=['Male','Female','Other/Non-Disclosed'])
gender_purchasing_df["Average Purchase Price"] = gender_purchasing_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchasing_df["Total Purchase Value"] = gender_purchasing_df["Total Purchase Value"].map("${:.2f}".format)
gender_purchasing_df["Avg Total Purchase per person"] = gender_purchasing_df["Avg Total Purchase per person"].map("${:.2f}".format)
gender_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
age_df = purchase_data.loc[:,['SN','Age','Gender']]
age_df.drop_duplicates(subset='SN', keep='first', inplace=True)

In [19]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

In [22]:
age_df["Age Range"] = pd.cut(age_df["Age"], bins, labels=group_names)
age_df

                 SN  Age                 Gender Total count Age Range
0           Lisim78   20                   Male       20-24     20-24
1       Lisovynya38   40                   Male         40+       40+
2        Ithergue48   24                   Male       20-24     20-24
3     Chamassasya86   24                   Male       20-24     20-24
4         Iskosia90   23                   Male       20-24     20-24
5           Yalae81   22                   Male       20-24     20-24
6         Itheria73   36                   Male       35-39     35-39
7       Iskjaskst81   20                   Male       20-24     20-24
8         Undjask33   22                   Male       20-24     20-24
9       Chanosian48   35  Other / Non-Disclosed       35-39     35-39
10        Inguron55   23                   Male       20-24     20-24
11     Haisrisuir60   23                   Male       20-24     20-24
12     Saelaephos52   21                   Male       20-24     20-24
13      Assjaskan73   22                   Male       20-24     20-24
14      Saesrideu94   35                   Male       35-39     35-39
15        Lisassa64   21                 Female       20-24     20-24
16        Lisirra25   20                   Male       20-24     20-24
17        Zontibe81   21                   Male       20-24     20-24
18        Reunasu60   22                 Female       20-24     20-24
19        Chamalo71   30                   Male       30-34     30-34
20     Iathenudil29   20                   Male       20-24     20-24
21    Phiarithdeu40   20                   Male       20-24     20-24
22     Siarithria38   38  Other / Non-Disclosed       35-39     35-39
23         Eyrian71   40                   Male         40+       40+
24          Siala43   30                   Male       30-34     30-34
25        Lisirra87   29                   Male       25-29     25-29
26       Lirtossa84   11                   Male       10-14     10-14
27          Eusri44    7                   Male         <10       <10
28           Aela59   21                   Male       20-24     20-24
29          Tyida79   24                   Male       20-24     20-24
..              ...  ...                    ...         ...       ...
728    Chanosiaya39   44                   Male         40+       40+
729       Assylla81   20                   Male       20-24     20-24
730       Aidaira26   30                   Male       30-34     30-34
731        Eudanu84   22                 Female       20-24     20-24
733      Chamiman85   20                   Male       20-24     20-24
736     Tyialisti80   23                   Male       20-24     20-24
737       Marundi65   22                   Male       20-24     20-24
738         Eusur90   36                   Male       35-39     35-39
739   Mindirranya33   35                   Male       35-39     35-39
741    Phiallylis33   19                   Male       15-19     15-19
742          Isty55   20                   Male       20-24     20-24
743     Frichilsa31   15                   Male       15-19     15-19
745      Chanista95   39                   Male       35-39     35-39
746      Aellyria80   23                   Male       20-24     20-24
748   Rastynusuir31   20                   Male       20-24     20-24
750        Iljask75   22                   Male       20-24     20-24
751     Lisjaskan36   11                   Male       10-14     10-14
752   Mindjasksya61   17                   Male       15-19     15-19
753  Frichirranya75   36                   Male       35-39     35-39
756         Ilast79   20                   Male       20-24     20-24
757       Eratiel90   18                   Male       15-19     15-19
761         Assim27   45                   Male         40+       40+
765         Irith83   18                   Male       15-19     15-19
769       Ilosian36   15                   Male       15-19     15-19
771    Iskossasda43   16                   Male       15-19     15-19
773          Hala31   21                   Male       20-24     20-24
774      Jiskjask80   11                   Male       10-14     10-14
775      Aethedru70   21                 Female       20-24     20-24
777      Yathecal72   20                   Male       20-24     20-24
778         Sisur91    7                   Male         <10       <10

[576 rows x 5 columns]

In [44]:
age_group = age_df.groupby("Age Range")
age_group[['Age']].valuecounts()
age_group_summary=pd.DataFrame(data=age_group[['Age']].count(),
                               age_group[['Age']].count()/total_players*100)
age_group_summary

#df_gender = pd.DataFrame(purchase_data.drop_duplicates('SN')['Gender'].value_counts())
#df_gender['Percent of Players'] = round(df_gender['Gender']/df_gender['Gender'].sum()*100,2)
#df_gender

SyntaxError: positional argument follows keyword argument (<ipython-input-44-62f668ac2c97>, line 2)

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80