### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [1]:
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
total_players = purchase_data['SN'].nunique()
print(f"Total number of players = {total_players}")

Total number of players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
num_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

In [4]:
summary_dict = {
    'Number of Unique Items':[unique_items],
    'Average Price':[average_price],
    'Number of Purchases':[num_purchases],
    'Total Revenue':[total_revenue]
}

In [5]:
Summary_df = pd.DataFrame(data = summary_dict)
Summary_df["Average Price"] = Summary_df["Average Price"].map("${:.2f}".format)
Summary_df["Total Revenue"] = Summary_df["Total Revenue"].map("${:.2f}".format)
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
demographic_df = purchase_data.loc[:,['SN','Age','Gender']]
demographic_df.drop_duplicates(subset='SN', keep='first', inplace=True)

In [7]:
male_count = demographic_df["Gender"][demographic_df["Gender"]=="Male"].count()
female_count = demographic_df["Gender"][demographic_df["Gender"]=="Female"].count()
other_count = demographic_df["Gender"][demographic_df["Gender"]=="Other / Non-Disclosed"].count()
total_count = demographic_df["Gender"].count()
male_percent = (male_count/total_count)*100
female_percent=(female_count/total_count)*100
other_percent=(other_count/total_count)*100

##Better way to do it
#df_gender = pd.DataFrame(purchase_data.drop_duplicates('SN')['Gender'].value_counts())
#df_gender['Percent of Players'] = round(df_gender['Gender']/df_gender['Gender'].sum()*100,2)
#df_gender

In [8]:
demographic_dict = {
    'Total Count':[male_count,female_count,other_count],
    'Percentage of Players':[male_percent,female_percent,other_percent]
}

In [9]:
demographic_df = pd.DataFrame(data = demographic_dict, index=['Male','Female','Other/Non-Disclosed'])
demographic_df["Percentage of Players"] = demographic_df["Percentage of Players"].map("{:.2f}".format)
demographic_df

                     Total Count Percentage of Players
Male                         484                 84.03
Female                        81                 14.06
Other/Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Purchase Count
male_purchase_count = purchase_data["Gender"][purchase_data["Gender"]=="Male"].count()
female_purchase_count = purchase_data["Gender"][purchase_data["Gender"]=="Female"].count()
other_purchase_count = purchase_data["Gender"][purchase_data["Gender"]=="Other / Non-Disclosed"].count()

#Average Purchase Price
male_avg_purchase_price = purchase_data["Price"][purchase_data["Gender"]=="Male"].mean()
female_avg_purchase_price = purchase_data["Price"][purchase_data["Gender"]=="Female"].mean()
other_avg_purchase_price = purchase_data["Price"][purchase_data["Gender"]=="Other / Non-Disclosed"].mean()

#Total Purchase Value
male_avg_purchase_value = purchase_data["Price"][purchase_data["Gender"]=="Male"].sum()
female_avg_purchase_value = purchase_data["Price"][purchase_data["Gender"]=="Female"].sum()
other_avg_purchase_value = purchase_data["Price"][purchase_data["Gender"]=="Other / Non-Disclosed"].sum()

#Avg Total Purchase per person
male_avg_purchase_per_person = male_avg_purchase_value/male_count
female_avg_purchase_per_person = female_avg_purchase_value/female_count
other_avg_purchase_per_person = other_avg_purchase_value/other_count

In [11]:
gender_purchasing_dict = {
    'Purchase Count':[male_purchase_count,female_purchase_count,other_purchase_count],
    'Average Purchase Price':[male_avg_purchase_price,female_avg_purchase_price,other_avg_purchase_price],
    'Total Purchase Value':[male_avg_purchase_value,female_avg_purchase_value,other_avg_purchase_value],
    'Avg Total Purchase per person':[male_avg_purchase_per_person,female_avg_purchase_per_person,other_avg_purchase_per_person]
}

In [12]:
#format
gender_purchasing_df = pd.DataFrame(data = gender_purchasing_dict, index=['Male','Female','Other/Non-Disclosed'])
gender_purchasing_df["Average Purchase Price"] = gender_purchasing_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchasing_df["Total Purchase Value"] = gender_purchasing_df["Total Purchase Value"].map("${:.2f}".format)
gender_purchasing_df["Avg Total Purchase per person"] = gender_purchasing_df["Avg Total Purchase per person"].map("${:.2f}".format)
gender_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

In [14]:
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=group_names)
age_df = purchase_data.groupby('Age Range').nunique()

In [15]:
age_table = pd.concat([age_df['SN'], round(age_df['SN']/age_df['SN'].sum()*100,2)], axis=1)
age_table.columns = ['Total Count', 'Percentage of Players']
age_table

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
age_full_df = purchase_data.groupby('Age Range')

In [17]:
PA_table = pd.DataFrame()

PA_table = pd.concat([
    age_full_df['Purchase ID'].nunique(), 
    round(age_full_df['Price'].mean(),2), 
    age_full_df['Price'].sum(), 
    age_full_df['Price'].sum()/age_full_df['SN'].nunique()
], axis=1)

PA_table.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']

PA_table["Average Purchase Price"] = PA_table["Average Purchase Price"].map("${:.2f}".format)
PA_table["Total Purchase Value"] = PA_table["Total Purchase Value"].map("${:.2f}".format)
PA_table["Avg Total Purchase per Person"] = PA_table["Avg Total Purchase per Person"].map("${:.2f}".format)

PA_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
#define the columns
Spenders = purchase_data.groupby('SN')
purchase_count = Spenders['Purchase ID'].nunique()
average_purchase_price = Spenders['Price'].mean()
total_purchasae_value = Spenders['Price'].sum()

In [19]:
#make the dataframe
spender_table = pd.concat([purchase_count, average_purchase_price, total_purchasae_value], axis=1)
spender_table.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
spender_table.sort_values(['Total Purchase Value'], ascending = False, inplace=True)

In [20]:
#Format
spender_table["Average Purchase Price"] = spender_table["Average Purchase Price"].map("${:.2f}".format)
spender_table["Total Purchase Value"] = spender_table["Total Purchase Value"].map("${:.2f}".format)
spender_table.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#retrieve columns
items_df = purchase_data.loc[:,['Item ID','Item Name','Price']]
#items_df.head()

In [22]:
#get columns
Item_ID_group = purchase_data.groupby(['Item ID','Item Name'])
purchase_count = Item_ID_group['Purchase ID'].count()
total_purchase_value = Item_ID_group['Price'].sum()

#make first data frame
purchase_count_and_total_value = pd.concat([purchase_count, total_purchase_value], axis=1)
purchase_count_and_total_value.columns = ['Purchase Count', 'Total Purchase Value']
purchase_count_and_total_value.sort_values(['Total Purchase Value'], ascending = False, inplace=True)

#get prices from original data frame
price_df = purchase_data[['Item ID', 'Item Name', 'Price']]
price_df.set_index(['Item ID','Item Name'], inplace=True)

In [23]:
#merge data frames and drop duplicates
popular_items_table=purchase_count_and_total_value.merge(price_df,left_index=True, right_index=True)
popular_items_table =popular_items_table.drop_duplicates(keep='first')

#Sort the purchase count column in descending order (and total purchase count for later)
popular_items_table = popular_items_table.sort_values('Purchase Count', ascending = False)
most_profitable_items = popular_items_table.sort_values('Total Purchase Value', ascending = False)

#name columns
popular_items_table = popular_items_table[['Purchase Count', 'Price', 'Total Purchase Value']]
popular_items_table.rename(columns = {'Price':'Item Price'}, inplace=True)

In [24]:
#format
popular_items_table["Item Price"] = popular_items_table["Item Price"].map("${:.2f}".format)
popular_items_table["Total Purchase Value"] = popular_items_table["Total Purchase Value"].map("${:.2f}".format)
popular_items_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
#name columns
most_profitable_items = most_profitable_items[['Purchase Count', 'Price', 'Total Purchase Value']]
most_profitable_items.rename(columns = {'Price':'Item Price'}, inplace=True)

most_profitable_items["Item Price"] = most_profitable_items["Item Price"].map("${:.2f}".format)
most_profitable_items["Total Purchase Value"] = most_profitable_items["Total Purchase Value"].map("${:.2f}".format)
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80